<h1>Nueva Contrase単a</h1>
<h2>Ingresa tu nueva Contrase単a</h2>
<hr>
<div class="container">
    <form id="formNewPassword">
        <table class="table table-bordered table-striped">
            <tr>
                <th colspan="2">Tu Correo</th>
            </tr>
            <tr>
                <td>Contrase単a</td>
                <td><input type="password" name="password" class="form form-control" autocomplete="off"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Cambiar Contrase単a" class="btn btn-success"></td>
            </tr>
        </table>
        <input type="hidden" name="userId" value="{{userId}}">
    </form>
</div>
<script src="/js/newpasswordform.js"></script>