<h1>Recuperar Contraseña</h1>
<h2>Ingresa tu Correo para generar un restablecimiento de Contraseña</h2>
<hr>
<div class="container">
    <form id="formPasswordRecovery">
        <table class="table table-bordered table-striped">
            <tr>
                <th colspan="2">Tu Correo</th>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td><input type="text" name="email" class="form form-control" autocomplete="off"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Recuperar Contraseña" class="btn btn-success"></td>
            </tr>
        </table>
    </form>
</div>
<script src="/js/passwordrecoveryform.js"></script>